@import url("https://fonts.googleapis.com/css2?family=Outfit:wght@100;200;300;400;500;600;700;800;900&family=Roboto&display=swap");

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
html {
  overflow: hidden;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Outfit", "Segoe UI", "Roboto",
    "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

p {
  font-size: 1.6rem;
}

h1 {
  font-size: 6rem;
}

#logo {
  width: 40px;
  position: absolute;
  margin-left: 5px;
  margin-top: 0.2em;
}

.app {
  width: 100%;
  height: 100vh;
  position: relative;
  background-color: var(--background);
  color: var(--font-color);
}

.app:before {
  content: "";
  background-color: rgb(69, 34, 158);
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: -1;
}

.app .search {
  text-align: center;
  padding: 1rem;
}

.app input {
  padding: 0.7rem 1.5rem;
  font-size: 2rem;
  border-radius: 25px;
  border: 1px solid var(--input-color);
  background: var(--input-bgc);
  color: var(--input-color);
}

::placeholder {
  color: var(--input-color);
  position: relative;
  left: 30px;
}

.container {
  max-width: 700px;
  height: 700px;
  margin: auto;
  padding: 0 1rem;
  position: relative;
  top: 10%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.app .top {
  width: 100%;
  margin: 1rem auto;
}

.app .description {
  position: relative;
  transform-origin: 0 0;
  /* transform: rotate(270deg); */
  color: var(--font-color);
  top: 1rem;
}
.app .description p {
  font-size: 3rem;
}
.icon {
  display: flex;
}
#icon {
  width: 20rem;
  margin-left: 5rem;
}
.app .bottom {
  display: flex;
  justify-content: space-evenly;
  text-align: center;
  width: 100%;
  margin: 1rem auto;
  padding: 1rem;
  margin-bottom: 10rem;
  border-radius: 12px;
  background-color: rgba(255, 255, 255, 0.2);
}

.bold {
  font-weight: 700;
}

.icon {
  color: #fff;
  z-index: 1111;
}

.temp-switch {
  display: flex;
  position: relative;
  left: 10px;
}

/* styles for C/F switcher */
#checkbox {
  display: none;
}
.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 31px;
  border: 2px solid var(--font-color);
  border-radius: 30px;
  cursor: pointer;
}
.switch > * {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}
.switch__ball {
  left: 1px;
  z-index: 10;
  display: inline-block;
  width: 25px;
  height: 25px;
  background-color: var(--font-color);
  border-radius: 50%;
  transition: transform 0.5s cubic-bezier(0.52, -0.4, 0.27, 1.55);
}
.switch__sun {
  left: 5px;
}
.switch__moon {
  right: 5px;
}
#checkbox:checked + .switch__ball {
  transform: translate(29px, -50%);
}

/* label1 */
.switchers {
  display: flex;
  flex-direction: column;
  align-items: end;
  margin-right: 3rem;
}
#checkbox1 {
  display: none;
}
.switch1 {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 31px;
  border: 2px solid var(--font-color);
  border-radius: 30px;
  cursor: pointer;
  /* transform: rotate(270deg); */
  top: 50px;
  /* left: -20px; */
}
.switch1 > * {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}
.switch__ball1 {
  left: 1px;
  z-index: 10;
  display: inline-block;
  width: 25px;
  height: 25px;
  background-color: var(--font-color);
  border-radius: 50%;
  transition: transform 0.5s cubic-bezier(0.52, -0.4, 0.27, 1.55);
}
.switch__sun1 {
  left: 5px;
}
.switch__moon1 {
  right: 5px;
}
#checkbox1:checked + .switch__ball1 {
  transform: translate(29px, -50%);
}

/* Large desktops and laptops */
@media (min-width: 1200px) {
  .container {
    max-width: 90%;
    height: 85%;
    margin: auto;
    padding: 0 1rem;
    position: relative;
    top: 5%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
  .app .search {
    text-align: center;
    padding: 1rem;
  }

  .app input {
    padding: 0.7rem 1.5rem;
    font-size: 1.2rem;
    border-radius: 25px;
    border: 1px solid var(--input-color);
    background: var(--input-bgc);
    /* color: rgb(102, 183, 60); */
    color: var(--input-color);
    width: 30rem;
    height: 4rem;
  }

  ::placeholder {
    color: var(--input-color);
    position: relative;
    left: 30px;
    font-size: 2rem;
  }
  .location p {
    font-size: 3rem;
  }
  .cur-temp {
    font-size: 10rem;
    margin-left: 8rem;
  }
  #icon {
    width: 14rem;
    margin-left: 10rem;
    margin-top: 2rem;
  }
  #desc {
    font-size: 3rem;
    margin-left: 1rem;
  }
  .switchers {
    margin-top: 2rem;
  }
  .switch {
    width: 5rem;
  }
  .switch1 {
    width: 5rem;
  }
  #checkbox:checked + .switch__ball {
    transform: translate(48px, -50%);
  }
  #checkbox1:checked + .switch__ball1 {
    transform: translate(48px, -50%);
  }
  .app .bottom {
    display: flex;
    justify-content: space-evenly;
    text-align: center;
    width: 100%;
    height: 8rem;
    margin: 1rem auto;
    padding: 1rem;
    margin-bottom: 10rem;
    border-radius: 12px;
    background-color: rgba(255, 255, 255, 0.2);
  }
  .bold {
    font-size: 3rem;
  }
  .bottom-temp p {
    font-size: 2.5rem;
  }
  .app input {
    padding: 0.7rem 1.5rem;
    font-size: 2.5rem;
    border-radius: 25px;
    border: 1px solid var(--input-color);
    background: var(--input-bgc);
    color: var(--input-color);
  }
}

/* Landscape tablets and medium desktops */
@media all and (max-width: 1200px) {
  .container {
    max-width: 90%;
    height: 85%;
    margin: auto;
    padding: 0 1rem;
    position: relative;
    top: 5%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
  .app .search {
    text-align: center;
    padding: 1rem;
  }

  .app input {
    padding: 0.7rem 1.5rem;
    font-size: 1.2rem;
    border-radius: 25px;
    border: 1px solid var(--input-color);
    background: var(--input-bgc);
    /* color: rgb(102, 183, 60); */
    color: var(--input-color);
    width: 30rem;
    height: 4rem;
  }

  ::placeholder {
    color: var(--input-color);
    position: relative;
    left: 30px;
    font-size: 2rem;
  }
  .location p {
    font-size: 3rem;
  }
  .cur-temp {
    font-size: 10rem;
    margin-left: 8rem;
  }
  #icon {
    width: 14rem;
    margin-left: 10rem;
    margin-top: 2rem;
  }
  #desc {
    font-size: 3rem;
    margin-left: 1rem;
  }
  .switchers {
    margin-top: 2rem;
  }
  .switch {
    width: 5rem;
  }
  .switch1 {
    width: 5rem;
  }
  #checkbox:checked + .switch__ball {
    transform: translate(48px, -50%);
  }
  #checkbox1:checked + .switch__ball1 {
    transform: translate(48px, -50%);
  }
  .app .bottom {
    display: flex;
    justify-content: space-evenly;
    text-align: center;
    width: 100%;
    height: 8rem;
    margin: 1rem auto;
    padding: 1rem;
    margin-bottom: 8rem;
    border-radius: 12px;
    background-color: rgba(255, 255, 255, 0.2);
  }
  .bold {
    font-size: 3rem;
  }
  .bottom-temp p {
    font-size: 2.5rem;
  }
  .app input {
    padding: 0.7rem 1.5rem;
    font-size: 2.5rem;
    border-radius: 25px;
    border: 1px solid var(--input-color);
    background: var(--input-bgc);
    color: var(--input-color);
  }
}

/* Portrait tablets and small desktops */
@media all and (max-width: 992px) {
  .container {
    max-width: 90%;
    height: 85%;
    margin: auto;
    padding: 0 1rem;
    position: relative;
    top: 5%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
  .app .search {
    text-align: center;
    padding: 1rem;
  }

  .app input {
    padding: 0.7rem 1.5rem;
    font-size: 1.2rem;
    border-radius: 25px;
    border: 1px solid var(--input-color);
    background: var(--input-bgc);
    /* color: rgb(102, 183, 60); */
    color: var(--input-color);
    width: 30rem;
    height: 4rem;
  }

  ::placeholder {
    color: var(--input-color);
    position: relative;
    left: 30px;
    font-size: 2rem;
  }
  .location p {
    font-size: 4rem;
  }
  .cur-temp {
    font-size: 14rem;
    margin-left: 4rem;
  }
  #icon {
    width: 14rem;
    margin-left: 5rem;
  }
  #desc {
    font-size: 5rem;
    margin-left: 1rem;
  }
  .switchers {
    margin-top: 2rem;
  }
  .switch {
    width: 5rem;
  }
  .switch1 {
    width: 5rem;
  }
  #checkbox:checked + .switch__ball {
    transform: translate(48px, -50%);
  }
  #checkbox1:checked + .switch__ball1 {
    transform: translate(48px, -50%);
  }
  .app .bottom {
    display: flex;
    justify-content: space-evenly;
    text-align: center;
    width: 100%;
    height: 10rem;
    margin: 1rem auto;
    padding: 1rem;
    margin-bottom: 6rem;
    border-radius: 12px;
    background-color: rgba(255, 255, 255, 0.2);
  }
  .bold {
    font-size: 3rem;
  }
  .bottom-temp p {
    font-size: 2.5rem;
  }
  .app input {
    padding: 0.7rem 1.5rem;
    font-size: 2.5rem;
    border-radius: 25px;
    border: 1px solid var(--input-color);
    background: var(--input-bgc);
    color: var(--input-color);
  }
}

/* Landscape phones and portrait tablets */
@media (max-width: 768px) {
  .container {
    max-width: 90%;
    height: 85%;
    margin: auto;
    padding: 0 0.5rem;
    position: relative;
    top: 10%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
  .app .search {
    text-align: center;
    padding: 1rem;
  }

  .app input {
    padding: 0.7rem 1.5rem;
    font-size: 1.2rem;
    border-radius: 25px;
    border: 1px solid var(--input-color);
    background: var(--input-bgc);
    /* color: rgb(102, 183, 60); */
    color: var(--input-color);
    width: 30rem;
    height: 4rem;
  }

  ::placeholder {
    color: var(--input-color);
    position: relative;
    left: 30px;
    font-size: 2rem;
  }
  .location p {
    font-size: 2rem;
  }
  .cur-temp {
    font-size: 8rem;
    margin-left: 4rem;
  }
  #icon {
    width: 6rem;
    margin-left: 5rem;
  }
  #desc {
    font-size: 2rem;
    margin-left: 1rem;
  }
  .switchers {
    margin-top: 1rem;
  }
  .switch {
    width: 5rem;
  }
  .switch1 {
    width: 5rem;
    margin-top: -2rem;
  }
  #checkbox:checked + .switch__ball {
    transform: translate(48px, -50%);
  }
  #checkbox1:checked + .switch__ball1 {
    transform: translate(48px, -50%);
  }
  .app .bottom {
    display: flex;
    justify-content: space-evenly;
    text-align: center;
    width: 100%;
    height: 5rem;
    margin: 1rem auto;
    padding: 1rem;
    margin-bottom: 14rem;
    border-radius: 12px;
    background-color: rgba(255, 255, 255, 0.2);
  }
  .bottom-temp p {
    font-size: 1.5rem;
  }
  .app input {
    padding: 0.7rem 1.5rem;
    font-size: 2.5rem;
    border-radius: 25px;
    border: 1px solid var(--input-color);
    background: var(--input-bgc);
    color: var(--input-color);
  }
}

@media (max-width: 650px) {
  .container {
    max-width: 90%;
    height: 85%;
    margin: auto;
    padding: 0 0.5rem;
    position: relative;
    top: 10%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
  .app .search {
    text-align: center;
    padding: 1rem;
  }

  .app input {
    padding: 0.7rem 1.5rem;
    font-size: 1.2rem;
    border-radius: 25px;
    border: 1px solid var(--input-color);
    background: var(--input-bgc);
    /* color: rgb(102, 183, 60); */
    color: var(--input-color);
    width: 30rem;
    height: 4rem;
  }

  ::placeholder {
    color: var(--input-color);
    position: relative;
    left: 30px;
    font-size: 2rem;
  }
  .location p {
    font-size: 2rem;
    margin-top: -3rem;
  }
  .cur-temp {
    font-size: 6rem;
    margin-left: 4rem;
  }
  #icon {
    width: 8rem;
    margin-left: 5rem;
  }
  #desc {
    font-size: 2rem;
    margin-left: 1rem;
  }
  .switchers {
    margin-top: 1rem;
  }
  .switch {
    width: 5rem;
  }
  .switch1 {
    width: 5rem;
    margin-top: -1rem;
  }
  #checkbox:checked + .switch__ball {
    transform: translate(48px, -50%);
  }
  #checkbox1:checked + .switch__ball1 {
    transform: translate(48px, -50%);
  }
  .app .bottom {
    display: flex;
    justify-content: space-evenly;
    text-align: center;
    width: 100%;
    height: 5rem;
    margin: 1rem auto;
    padding: 1rem;
    margin-bottom: 10rem;
    border-radius: 12px;
    background-color: rgba(255, 255, 255, 0.2);
  }
  .bottom-temp p {
    font-size: 1.5rem;
  }
  .app input {
    padding: 0.7rem 1.5rem;
    font-size: 2.5rem;
    border-radius: 25px;
    border: 1px solid var(--input-color);
    background: var(--input-bgc);
    color: var(--input-color);
  }
}

/* Portrait phones and smaller */
@media (max-width: 520px) {
  .container {
    max-width: 90%;
    height: 80%;
    margin: auto;
    padding: 0 0.5rem;
    position: relative;
    top: 10%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
  .app .search {
    text-align: center;
    padding: 1rem;
  }

  .app input {
    padding: 0.7rem 1.5rem;
    font-size: 1rem;
    border-radius: 25px;
    border: 1px solid var(--input-color);
    background: var(--input-bgc);
    /* color: rgb(102, 183, 60); */
    color: var(--input-color);
    width: 20rem;
    height: 3rem;
  }

  ::placeholder {
    color: var(--input-color);
    position: relative;
    left: 30px;
    bottom: 0.2rem;
    font-size: 2rem;
  }
  .location p {
    font-size: 2rem;
  }
  .cur-temp {
    font-size: 5rem;
    margin-left: 4rem;
  }
  #icon {
    width: 8rem;
    margin-left: 5rem;
  }
  #desc {
    font-size: 2rem;
    margin-left: 1rem;
  }
  .switchers {
    margin-top: 1rem;
  }
  .switch {
    width: 4rem;
    height: 1.6rem;
  }
  .switch1 {
    width: 4rem;
    height: 1.6rem;
  }
  .switch__ball {
    left: 1px;
    z-index: 10;
    display: inline-block;
    width: 20px;
    height: 20px;
    background-color: var(--font-color);
    border-radius: 50%;
    transition: transform 0.5s cubic-bezier(0.52, -0.4, 0.27, 1.55);
  }
  .switch__ball1 {
    left: 1px;
    z-index: 10;
    display: inline-block;
    width: 20px;
    height: 20px;
    background-color: var(--font-color);
    border-radius: 50%;
    transition: transform 0.5s cubic-bezier(0.52, -0.4, 0.27, 1.55);
  }
  #checkbox:checked + .switch__ball {
    transform: translate(38px, -50%);
  }
  #checkbox1:checked + .switch__ball1 {
    transform: translate(38px, -50%);
  }
  .app .bottom {
    display: flex;
    justify-content: space-evenly;
    text-align: center;
    width: 100%;
    height: 4.5rem;
    margin: 1rem auto;
    padding: 1rem;
    margin-bottom: 6rem;
    border-radius: 12px;
    background-color: rgba(255, 255, 255, 0.2);
  }
  .bottom-temp p {
    font-size: 1.4rem;
  }
  .app input {
    padding: 0.7rem 1.5rem;
    font-size: 2.5rem;
    border-radius: 25px;
    border: 1px solid var(--input-color);
    background: var(--input-bgc);
    color: var(--input-color);
  }
}

@media (max-width: 414px) {
  .container {
    max-width: 90%;
    height: 80%;
    margin: auto;
    padding: 0 0.5rem;
    position: relative;
    top: 10%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
  .app .search {
    text-align: center;
    padding: 1rem;
  }

  .app input {
    padding: 0.7rem 1.5rem;
    font-size: 1rem;
    border-radius: 25px;
    border: 1px solid var(--input-color);
    background: var(--input-bgc);
    /* color: rgb(102, 183, 60); */
    color: var(--input-color);
    width: 20rem;
    height: 3rem;
  }

  ::placeholder {
    color: var(--input-color);
    position: relative;
    left: 30px;
    bottom: 0.2rem;
    font-size: 2rem;
  }
  .location p {
    font-size: 2rem;
  }
  .cur-temp {
    font-size: 7rem;
    margin-left: 4rem;
  }
  #icon {
    width: 6rem;
    margin-left: 3rem;
  }
  #desc {
    font-size: 1.6rem;
    margin-left: 0.4rem;
  }
  .switchers {
    margin-top: 2rem;
  }
  .switch {
    width: 3rem;
    height: 1.6rem;
  }
  .switch1 {
    width: 3rem;
    height: 1.6rem;
  }
  .switch__ball {
    left: 1px;
    z-index: 10;
    display: inline-block;
    width: 20px;
    height: 20px;
    background-color: var(--font-color);
    border-radius: 50%;
    transition: transform 0.5s cubic-bezier(0.52, -0.4, 0.27, 1.55);
  }
  .switch__ball1 {
    left: 1px;
    z-index: 10;
    display: inline-block;
    width: 20px;
    height: 20px;
    background-color: var(--font-color);
    border-radius: 50%;
    transition: transform 0.5s cubic-bezier(0.52, -0.4, 0.27, 1.55);
  }
  #checkbox:checked + .switch__ball {
    transform: translate(22px, -50%);
  }
  #checkbox1:checked + .switch__ball1 {
    transform: translate(22px, -50%);
  }
  .app .bottom {
    display: flex;
    justify-content: space-evenly;
    text-align: center;
    width: 100%;
    height: 6.5rem;
    margin: 1rem auto;
    padding: 1rem;
    margin-bottom: 6rem;
    border-radius: 12px;
    background-color: rgba(255, 255, 255, 0.2);
  }
  .bottom-temp p {
    font-size: 2rem;
  }
  .bottom-temp {
    margin-bottom: 2rem;
  }
  .app input {
    padding: 0.7rem 1.5rem;
    font-size: 2.5rem;
    border-radius: 25px;
    border: 1px solid var(--input-color);
    background: var(--input-bgc);
    color: var(--input-color);
  }
}

/* Iphone 5 */
@media (max-width: 320px) {
  .container {
    max-width: 90%;
    height: 80%;
    margin: auto;
    padding: 0 0.5rem;
    position: relative;
    top: 10%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
  .app .search {
    text-align: center;
    padding: 1rem;
  }

  .app input {
    padding: 0.7rem 1.5rem;
    font-size: 1rem;
    border-radius: 25px;
    border: 1px solid var(--input-color);
    background: var(--input-bgc);
    /* color: rgb(102, 183, 60); */
    color: var(--input-color);
    width: 15rem;
    height: 3rem;
  }

  ::placeholder {
    color: var(--input-color);
    position: relative;
    left: 30px;
    bottom: 0.2rem;
    font-size: 2rem;
  }
  .location p {
    font-size: 2rem;
  }
  .cur-temp {
    font-size: 4.5rem;
    margin-left: 4rem;
  }
  .switchers {
    margin-top: 2rem;
    margin-right: 10px;
  }
  .switch {
    width: 4rem;
    height: 1.6rem;
  }
  .switch1 {
    width: 4rem;
    height: 1.6rem;
    padding: 0;
    top: 1rem;
  }
  .switch__ball {
    left: 1px;
    z-index: 10;
    display: inline-block;
    width: 20px;
    height: 20px;
    background-color: var(--font-color);
    border-radius: 50%;
    transition: transform 0.5s cubic-bezier(0.52, -0.4, 0.27, 1.55);
  }
  .switch__ball1 {
    left: 1px;
    z-index: 10;
    display: inline-block;
    width: 20px;
    height: 20px;
    background-color: var(--font-color);
    border-radius: 50%;
    transition: transform 0.5s cubic-bezier(0.52, -0.4, 0.27, 1.55);
  }
  #icon {
    width: 5rem;
    margin-left: 2rem;
  }
  #desc {
    font-size: 2rem;
    margin-left: 1rem;
  }

  #checkbox:checked + .switch__ball {
    transform: translate(38px, -50%);
  }
  #checkbox1:checked + .switch__ball1 {
    transform: translate(38px, -50%);
  }
  .app .bottom {
    display: flex;
    justify-content: space-evenly;
    text-align: center;
    width: 100%;
    height: 5rem;
    margin: 1rem auto;
    padding: 1rem;
    margin-bottom: 7rem;
    border-radius: 12px;
    background-color: rgba(255, 255, 255, 0.2);
  }
  .bottom-temp p {
    font-size: 1.5rem;
  }
  .app input {
    padding: 0.7rem 1.5rem;
    font-size: 2.5rem;
    border-radius: 25px;
    border: 1px solid var(--input-color);
    background: var(--input-bgc);
    color: var(--input-color);
  }
}

@media (max-width: 393px) {
  .container {
    max-width: 90%;
    height: 85%;
    margin: auto;
    padding: 0 0.5rem;
    position: relative;
    top: 10%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
  .app .search {
    text-align: center;
    padding: 1rem;
  }

  .app input {
    padding: 0.7rem 1.5rem;
    font-size: 1rem;
    border-radius: 25px;
    border: 1px solid var(--input-color);
    background: var(--input-bgc);
    /* color: rgb(102, 183, 60); */
    color: var(--input-color);
    width: 20rem;
    height: 3rem;
  }

  #icon {
    width: 8rem;
    margin-left: 2rem;
  }
  #desc {
    font-size: 2rem;
    margin-left: 1rem;
  }

  ::placeholder {
    color: var(--input-color);
    position: relative;
    left: 30px;
    bottom: 0.2rem;
    font-size: 2rem;
  }
  .location p {
    font-size: 3rem;
  }
  .cur-temp {
    font-size: 6rem;
    margin-left: 4rem;
  }
  .switchers {
    margin-top: 1.5rem;
  }
  .switch {
    width: 3rem;
    height: 1.3rem;
  }
  .switch1 {
    width: 3rem;
    height: 1.3rem;
  }
  .switch__ball {
    left: 1px;
    z-index: 10;
    display: inline-block;
    width: 15px;
    height: 15px;
    background-color: var(--font-color);
    border-radius: 50%;
    transition: transform 0.5s cubic-bezier(0.52, -0.4, 0.27, 1.55);
  }
  .switch__ball1 {
    left: 1px;
    z-index: 10;
    display: inline-block;
    width: 15px;
    height: 15px;
    background-color: var(--font-color);
    border-radius: 50%;
    transition: transform 0.5s cubic-bezier(0.52, -0.4, 0.27, 1.55);
  }
  #checkbox:checked + .switch__ball {
    transform: translate(27px, -50%);
  }
  #checkbox1:checked + .switch__ball1 {
    transform: translate(27px, -50%);
  }
  .app .bottom {
    display: flex;
    justify-content: space-evenly;
    text-align: center;
    width: 100%;
    height: 4rem;
    margin: 1rem auto;
    padding: 1rem;
    margin-bottom: 8.8rem;
    border-radius: 12px;
    background-color: rgba(255, 255, 255, 0.2);
  }
  .bottom-temp p {
    font-size: 1.2rem;
  }
  .app input {
    padding: 0.7rem 1.5rem;
    font-size: 2.5rem;
    border-radius: 25px;
    border: 1px solid var(--input-color);
    background: var(--input-bgc);
    color: var(--input-color);
  }
}

@media (max-width: 375px) {
  .app {
    width: 100%;
  }
  .container {
    max-width: 88%;
    height: 85%;
    margin: auto;
    padding: 0 0.5rem;
    position: relative;
    top: 10%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
  .app .search {
    text-align: center;
    padding: 1rem;
  }

  .app input {
    padding: 0.7rem 1.5rem;
    font-size: 1rem;
    border-radius: 25px;
    border: 1px solid var(--input-color);
    background: var(--input-bgc);
    /* color: rgb(102, 183, 60); */
    color: var(--input-color);
    width: 20rem;
    height: 3rem;
  }

  #icon {
    width: 8rem;
    margin-left: 2rem;
  }
  #desc {
    font-size: 1.6rem;
    /* margin-left: 1rem; */
  }

  ::placeholder {
    color: var(--input-color);
    position: relative;
    left: 30px;
    bottom: 0.2rem;
    font-size: 2rem;
  }
  .location p {
    font-size: 2rem;
  }
  .cur-temp {
    font-size: 6rem;
    margin-left: 3rem;
  }
  .switchers {
    margin-top: 1.5rem;
  }
  .switch {
    width: 3rem;
    height: 1.3rem;
  }
  .switch1 {
    width: 3rem;
    height: 1.3rem;
  }
  .switch__ball {
    left: 1px;
    z-index: 10;
    display: inline-block;
    width: 15px;
    height: 15px;
    background-color: var(--font-color);
    border-radius: 50%;
    transition: transform 0.5s cubic-bezier(0.52, -0.4, 0.27, 1.55);
  }
  .switch__ball1 {
    left: 1px;
    z-index: 10;
    display: inline-block;
    width: 15px;
    height: 15px;
    background-color: var(--font-color);
    border-radius: 50%;
    transition: transform 0.5s cubic-bezier(0.52, -0.4, 0.27, 1.55);
  }
  #checkbox:checked + .switch__ball {
    transform: translate(27px, -50%);
  }
  #checkbox1:checked + .switch__ball1 {
    transform: translate(27px, -50%);
  }
  .app .bottom {
    display: flex;
    justify-content: space-evenly;
    text-align: center;
    width: 100%;
    height: 5rem;
    margin: 1rem auto;
    padding: 1rem;
    margin-bottom: 8.5rem;
    border-radius: 12px;
    background-color: rgba(255, 255, 255, 0.2);
  }
  .bottom-temp p {
    font-size: 1.5rem;
  }
  .app input {
    padding: 0.7rem 1.5rem;
    font-size: 2.5rem;
    border-radius: 25px;
    border: 1px solid var(--input-color);
    background: var(--input-bgc);
    color: var(--input-color);
  }
}
